<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/miestilo.css')}}">
</head>
<body>
	<nav>
        <a href="/inicio" class="nav-enlace" >Inicio</a>
        <a href="/miperfil" class="nav-enlace" >Mi perfil</a>
        <a href="/notificaciones" class="nav-enlace" >Notificaciones</a>
        <a href="/logout" class="nav-enlace" >Logout</a>
    </nav>
    <h1 class="buscarproducto">Ayuda</h1>
    <h3>¿Necesita ayuda?</h3>   

    <h2 class="compras">COMPRAS</h2><br>
    <div class="div4">
        <ul>   	
          	<p class="nav-enlace">Administrar y cancelar compras<br></p>
          	<p class="nav-enlace">Devoluciones y reembolsos<br></p>
          	<p class="nav-enlace">Preguntas sobre compras<br></p>
        </ul>
    </div>

    <h2 class="compras">VENTAS</h2><br>
    <div class="div4">
        <ul>
          	<p class="nav-enlace">Gestionar ventas y publicaciones<br></p>
          	<p class="nav-enlace">Preguntas sobre ventas</p>
        </ul>
    </div>
</body>
</html>