<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctenos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/miestilo.css')}}">
</head>
<body>
    <nav>
        <a href="/inicio" class="nav-enlace" >Inicio</a>
        <a href="#" class="nav-enlace" >Ayuda</a>
        <a href="#" class="nav-enlace" >Mi perfil</a>
        <a href="#" class="nav-enlace" >Notificaciones</a>
        <a href="/logout" class="nav-enlace" >Logout</a>
    </nav>
    <h1 class="Comentarios">Contactenos</h1>
            
    
    <section class="contenedor-comentario bloque text-center">
        <div class="Comentario">
            <h5>Barranquilla</h5>
            <p>(605) 3117977</p>
            <P>Correo de Contacto (macys@macys.com)</P>
            <p>Horarios de Atención (De 8:00 a.m. a 8:00 p.m.)</p>
        </div>
        <hr>
      
        <div class="columna-comentario">
            <h5>Bogota</h5>
            <p>(601) 745 5443</p>
            <P>Correo de Contacto (macys@macys.com)</P>
            <p>Horarios de Atención (De 7:00 a.m. a 8:00 p.m.)</p>

        </div>
        <hr>
        <div class="columna-comentario">
            <h5>Cali</h5>
            <p>(602) 489 1221</p>
            <P>Correo de Contacto (macys@macys.com)</P>
            <p>Horarios de Atención (De 8:30 a.m. a 8:30 p.m.)</p>
        </div>
        <hr>
        <div class="columna-comentario">
            <h5>Bucaramanga</h5>
            <p>(607) 697 2929</p>
            <P>Correo de Contacto (macys@macys.com)</P>
            <p>Horarios de Atención (De 8:00 a.m. a 8:00 p.m.)</p>
        </div>
    </section>
    <button class="boton2">Atras</button>
</body>
</html>