<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/miestilo.css')}}">
</head>
<body>
    <nav>
        <a href="/inicio" class="nav-enlace" >Inicio</a>
        <a href="#" class="nav-enlace" >Contáctenos</a>
        <a href="#" class="nav-enlace" >Ayuda</a>
        <a href="/producto/calificar" class="nav-enlace" >Mis compras</a>
        <a href="#" class="nav-enlace" >Mi perfil</a>
        <a href="#" class="nav-enlace" >Notificaciones</a>
    </nav>
        <h1 class="productos">Productos</h1>
    <div class="buscar">
        <input type="text" placeholder="Buscar" required>
    </div>
    
</body>
</html>