<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/miestilo.css')}}">
</head>
<body>
    <nav>
        <a href="/inicio" class="nav-enlace" >Inicio</a>
        <a href="/contactenos" class="nav-enlace" >Contáctenos</a>
        <a href="/ayuda" class="nav-enlace" >Ayuda</a>
        <a href="/producto/calificar" class="nav-enlace" >Mis compras</a>
        <a href="/miperfil" class="nav-enlace" >Mi perfil</a>
        <a href="/logout" class="nav-enlace" >Logout</a>
    </nav>
</body>
</html>